<div class="hero">
  <div class="container">
    <div class="hero-head">
      <%= content_tag(:h1, t('front_page.tagline'), :class=>'hero-h1 animated animation fadeInLeft')%>
      <%= content_tag(:p, t('front_page.description'), :class=>'hero-p animated animation fadeInRight')%>
    </div>
  <span id="service"></span>
  </div>
</div>

<div class="ptable">
  <div class="container">
    <!-- Pricing heading and paragraph -->
    <div class="row">
      <%= render 'home/description_table', :description=>{:question=>t('front_page.supplier_question'), :benefit=>t("front_page.supplier_benefits"), :url=>new_user_supplier_path, :learn_more_url=>learn_more_user_suppliers_path}%>

      <%= render 'home/description_table', :description=>{:question=>t("front_page.distributor_question"), :benefit=>t("front_page.distributor_benefits"), :url=>new_user_distributor_path, :learn_more_url=>learn_more_user_distributors_path}%>

    </div>
    <span id="contact"></span>
  </div>
</div>
